.buildHolder{
  height:100%;
  width:100%;
  background-color: azure;
  display:block;
}
.selector{
  width:340px;
  height:100%;
  background-color: bisque;
  float:left;
  overflow-y:scroll;
  position: fixed;
}
.sequence{
  width:calc(100% - 340px);
  float:right;
}
.rowOfSequence{
  min-height:300px;
  margin-bottom: 10px;
  background-color: aquamarine;
  overflow-x: hidden;
}
.rowOfSequence ul{
  height:300px;
  list-style-type: none;
  padding-left:0px;
}
.rowOfSequence ul li{
  float:left;
  padding-bottom:20px;
}
.selector ul{
  list-style-type: none;
  padding-left:0px;
}
.imageContainer{
  width:300px;
  height:240px;
  line-height:240px;
  background-color: brown;
  margin:10px;
  text-align: center;
  vertical-align: middle;
}
.imageContainer p{
  font-size: 50px;
  margin:10px;
}
